# {{ ansible_managed }}
[Unit]
Description=ARA-API Container

[Container]
ContainerName=ara-api
Image={{ ara_api_image }}
Volume=ara-api.volume:/opt/ara
PublishPort=127.0.0.1:8000:8000

[Install]
WantedBy=multi-user.target default.target
